body {
   background-color: #ffffff;
   color: #000000;
   margin: 0px;
   padding: 0px;
   height: 100vh;

}

.section {
   display: grid;
   grid-template-columns: 1fr 8fr 1fr;
}

h2 {
   font-size: 30px;
   font-weight: 500;
}

.card-container {
   display: grid;
   align-items: center;
   justify-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 30px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   gap: 15px;
   width: 200px;
}

.card>img {
   cursor: pointer;
   object-fit: cover;
   border-radius: 8px;
   height: 180px;
}

.card-content {
   width: 90%;
   text-align: center;
   margin: 0px;
   cursor: pointer;
   ;
}

.card-content>h3 {
   margin: 0px;
   font-size: 22px;
   letter-spacing: 2.5px;
   padding-bottom: 3px;
   font-weight: 600;
   ;
}

.card-content>p {
   margin: 0px;
   font-size: 18px;
   font-weight: 200;
}

#past>.card>img {
   filter: grayscale(1);
   opacity: 0.9;
}

#past>.card>.card-content {
   opacity: 0.95;
}